<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="my.edu.utar.travelapp">

    <!-- Permission declarations -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelApp"
        tools:targetApi="31">

        <!-- Entry point of the app (launcher activity) -->
        <activity android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main screen -->
        <activity android:name=".MainActivity"
            android:exported="true" />

        <!-- Chatbot screen -->
        <activity android:name=".AI.ChatbotActivity"
            android:windowSoftInputMode="adjustResize"/>

        <!-- Settings and profile-related screens -->
        <activity android:name=".Setting.SettingActivity"/>
        <activity android:name=".Setting.ProfileActivity"/>
        <activity android:name=".Setting.EditProfileActivity"/>

        <!-- Post creation screen -->
        <activity android:name=".Post.PostActivity"/>

        <!-- Travel guide screens -->
        <activity android:name=".TravelGuide.TravelGuideActivity" />
        <activity android:name=".TravelGuide.RecommendationDetailActivity" />

    </application>

</manifest>
